{% extends 'base.html' %}
{% load static %}

{% block content %}
<br> <br> <br>


<header class="py-5">
  <div class="container px-5 pb-5">
    <div class="row gx-5 align-items-center">
      <div class="col-xxl-5">

        <div class="text-center text-xxl-start">
          <div class=" bg-gradient-danger-to-secondary text-white mb-4">
          </div>
          <div data-aos="fade-down" data-aos-delay="200" class="fs-3 fw-light  text-muted">Full stack web developer
          </div>
          <h1 data-aos="fade-up" data-aos-delay="200" class="display-3 fw-bolder mb-5"><span
              class="text-gradient d-inline">SANTHOSH KUMAR R</span></h1>
          <div data-aos="fade-down"
            class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
            <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder"
              href="{% static 'files\Santhoshkumar Resume.pdf' %}">Resume</a>
          </div> <br>
          <div data-aos="flip-up" class=" d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
            <h5 class=" typewriter text-white textline  text-muted text-center text-sm-start ">Crafting seamless digital experiences from
              pixel to database</h5>
          </div>
        </div>
      </div>
      <div class="col-xxl-7">
        <div class="d-flex justify-content-center mt-5 mt-xxl-0">
          <div class="profile bg-gradient-primary-to-secondary">

          </div>
        </div>
      </div>
    </div>
  </div>
</header>




<section id="about" class=" ">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-xxl-8">
        <div class="text-center my-5">
          <h2 data-aos="fade-up" class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span> </h2>
          <br>
          <div class="position-relative mb-5">
            <img data-aos="zoom-out" class="img-fluid rounded-circle border border-secondary p-4 mx-auto w-50"
              src="{% static 'images\Clipped_image_20240223_174652 (2).png' %}" alt="">
            <div class="testimonial-icon">
              <i class=" text-primary"></i>
            </div>
          </div>
          <p data-aos="fade-up" class="lead fw-light mb-4">My self i'm
            <strong>Santhosh kumar</strong>
          </p>
          <p data-aos="fade-up" class="text-muted">I’m a Full Stack Web
            Developer with a background in business and technology. After
            earning my MBA, I pursued my passion for tech by completing a 6-month Full Stack Web Development course,
            where I mastered tools and technologies across the front-end and back-end.

            With a strong foundation in both coding and business strategy, I bring a unique perspective to web
            development—focused on building practical, user-centric solutions.

            I recently completed a Customer Relationship Management (CRM) web application project, where I was
            responsible for both the front-end design and the back-end functionality. This experience helped me develop
            skills in problem-solving, real-world deployment, and working with databases and user authentication.

            I’m excited to bring my technical skills, business insights, and commitment to clean, scalable code into
            every project I work on.

          </p>
          <div class="d-flex justify-content-center fs-2 gap-4">
            <a class="text-gradient" href="#!"><i class="bi bi-twitter"></i></a>
            <a class="text-gradient" href="#!"><i class="bi bi-linkedin"></i></a>
            <a class="text-gradient" href="#!"><i class="bi bi-github"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>







<div class="container-xxl  pb-5" id="skills">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <h1 data-aos="zoom-in-left" class="display-5 mb-5 text-gradient fw-bolder">Skills </h1>

        <h3 data-aos="zoom-in-left" class="mb-4 fw">My Skills</h3>
        <div data-aos="zoom-in-left" class="row align-items-center">
          <div class="col-md-6">
            <div class="skills mb-4">
              <div class="d-flex justify-content-between">
                <h6 class="font-weight-bold">HTML</h6>
                <h6 class="font-weight-bold">95%</h6>
              </div>
              <div class="progress">
                <div class="progress-bar bg-primary " role="progressbar" aria-valuenow="95" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="skills mb-4">
              <div class="d-flex justify-content-between">
                <h6 class="font-weight-bold">CSS</h6>
                <h6 class="font-weight-bold">85%</h6>
              </div>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="skills mb-4">
              <div class="d-flex justify-content-between">
                <h6 class="font-weight-bold">Python</h6>
                <h6 class="font-weight-bold">90%</h6>
              </div>
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="skills mb-4">
              <div class="d-flex justify-content-between">
                <h6 class="font-weight-bold">Django</h6>
                <h6 class="font-weight-bold">90%</h6>
              </div>
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="skills mb-4">
              <div class="d-flex justify-content-between">
                <h6 class="font-weight-bold">Bootstrap</h6>
                <h6 class="font-weight-bold">95%</h6>
              </div>
              <div class="progress">
                <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="skill mb-4">
              <div class="d-flex justify-content-between">
                <h6 class="font-weight-bold">API</h6>
                <h6 class="font-weight-bold">85%</h6>
              </div>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-aos="zoom-in-right" class="col-lg-6 ">
        <ul class="nav nav-pills rounded border border-2 border-primary mb-5">

          <li class="nav-item w-50">
            <button data-aos="zoom-in-right" class="nav-link w-100 py-3 fs-5 " data-bs-toggle="pill"
              href="#tab-2">Education</button>
          </li>
        </ul>

        <div data-aos="zoom-in-right" id="tab-2" class="tab-pane fade show p-0">
          <div class="row gy-5 gx-4">
            <div class="col-sm-6">
              <h5>Bachelor of commerce</h5>
              <hr class="text-primary my-2">
              <p class="text-primary mb-1">2019 - 2022</p>
              <h6 class="mb-0">RVS kumaran arts and science college,dindigul</h6>
            </div>
            <div class="col-sm-6">
              <h5>MBA</h5>
              <hr class="text-primary my-2">
              <p class="text-primary mb-1">2022 - 2024</p>
              <h6 class="mb-0">Sri sai bharath arts and science college</h6>
            </div>
            <div class="col-sm-6">
              <h5>Full stack web developer course</h5>
              <hr class="text-primary my-2">
              <p class="text-primary mb-1">2024 - 2025</p>
              <h6 class="mb-0">Careerlines,dindigul</h6>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<div class="container-xxl  py-6 pt-5" id="project">
  <div class="container">
    <div class="row g-5 mb-5 align-items-center wow fadeInUp" data-wow-delay="0.1s">
      <div class="col-lg-6">
        <h1 data-aos="flip-down" class="display-5 mb-0  text-gradient fw-bolder">My Projects</h1>
      </div>

    </div>
    <div data-aos="flip-down" class="row g-4 portfolio-container ">
      <div class="col-lg-4 col-md-6 portfolio-item first">
        <div class="portfolio-img rounded overflow-hidden">
          <img class="img-fluid" src="{% static 'images\Screenshot 2025-09-01 214053.png' %}" alt="images">
          <div class="portfolio-btn">
            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="https://dw.appblocky.com/"><i
                class="fa fa-eye"></i></a>
            <button type="button" class="btn btn-outline-secondary btn btn-lg-square" data-bs-toggle="modal"
              data-bs-target="#project1Modal">
              <i class="fa fa-link"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item second">
        <div class="portfolio-img rounded overflow-hidden">
          <img class="img-fluid" src="{% static 'images\Screenshot 2025-09-01 214630.png' %}" alt="">
          <div class="portfolio-btn">
            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="" data-lightbox="portfolio"><i
                class="fa fa-eye"></i></a>
            <button type="button" class="btn btn-outline-secondary btn btn-lg-square" data-bs-toggle="modal"
              data-bs-target="#project1Modal1">
              <i class="fa fa-link"></i>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Project Modal dream window -->
<div class="modal fade" id="project1Modal" tabindex="-1" aria-labelledby="project1Label" aria-hidden="true">
  <div class="modal-dialog modal-lg"> <!-- large modal -->
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="project1Label">Project: Dream Window</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p><strong>Description:</strong> A business management system with features like customer management, estimation
          tracking, sales, materials, accounts, and reports.</p>
        <p><strong>Tech Stack:</strong> Django, Bootstrap, Html, Css, </p>
        <p><strong>Features:</strong></p>
        <ul>
          <li>Dashboard with analytics</li>
          <li>Customer and sales tracking</li>
          <li>Estimation & accounts management</li>
        </ul>
        <img src="{% static 'images/project-screenshot.png' %}" class="img-fluid rounded" alt="Project Screenshot">
      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- project model 2 portfolio -->

<div class="modal fade" id="project1Modal1" tabindex="-1" aria-labelledby="project1Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="project1Label">Portfolio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p><strong>Description:</strong> A personal portfolio website to showcase my projects, resume, and skills. It
          includes smooth scrolling navigation, animated progress bars, and responsive design.</p>
        <p><strong>Tech Stack:</strong> Django, Bootstrap,CSS,HTML</p>
        <p><strong>Features:</strong></p>
        <ul>
          <li>Responsive and mobile-friendly design</li>
          <li>Project showcase with modal popups</li>
          <li>Smooth scrolling and animations</li>
        </ul>
        <img src="{% static 'images/project-screenshot.png' %}" class="img-fluid rounded" alt="Project Screenshot">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>



<br> <br> <br>


<section id="contact">
  <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="container-xxl  pb-1 pb-3" id="contact">
    <div class="container w-100 py-2">
      <div class="row g-5 mb-5 ">
        <div class="col-lg-12 text-center">
          <h1 class="display-5 mb-0 text-gradient fw-bolder ">Contact</h1>
        </div>
      </div>

      <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="row g-6">
        <div class="col-lg-12 col-md-7">

          <p class="mb-2">Call me:</p>
          <h3 class="font-weight-bold">+91 6382413478</h3>
          <hr class="w-25">
          <p class="mb-2">Mail me:</p>
          <h3 class="font-weight-bold">santhoshraja0000@gmail.com</h3>
          <hr class="w-50">
          <p class="mb-2">Follow me:</p>
          <div class="d-flex pt-2">
            <a class="btn btn-square btn-primary me-2" href="https://github.com/santhoshraja-developer"><i
                class="fab fa-github"></i></a>
            <a class="btn btn-square btn-primary me-2" href="https://www.linkedin.com/in/raja-santhosh-693067331"><i
                class="fab fa-linkedin-in"></i></a>
          </div>
        </div>

      </div>
    </div>

</section>





{% endblock %}